@import url('https://fonts.cdnfonts.com/css/poppins?styles=20394,170442,20389,170444,20397,170447,20398,170441,20387,170436,20388,170443,20390,170435,20391,170434,20392,170448,20393,170438,20395,170439,20396,170451,20383,170445,20384,170449,20385,170450,20386,170446,20381,170437,20382,170440');
body {
	width: auto;
	font-family: "Poppins", sans-serif;
}

.wrapper-up {
	background-image: url('https://raw.githubusercontent.com/superstuckattack/freedomwow/f3fb0bfbaadfdb093383327aad6324b33e90971b/assest/img/wrapup.svg');
	background-color: #f0f0f0;
  	height: 783px; 
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	padding-top: 18px;
}

.wrapper-down {
	background-image: url('https://raw.githubusercontent.com/superstuckattack/freedomwow/ca08e7a3a47fc61cfd5f5b66a381f9de98fd2f32/assest/img/wrapdown.svg');
	background-color: #f0f0f0;
  	height: 1573px; 
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.navbarfluid {
	padding: 0px;
	margin: 0px;
	border-radius: 3px;
	background-color: rgba(49, 28, 72, 0.4);
	height: 94px;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.navbar {
	padding: 0px;
	margin: 0px;
}

.logotype {
	padding: 0px;
	margin: 0px;
	width: 249px;
	height: 87px;
}

.nav-link {
	color: rgba(227, 227, 227, 1);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
}

.nav-link:hover {
	color: #B987CE;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(227, 227, 227, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 

.account-form {
	width: 424px;
	height: 496px;
	background: rgba(49, 28, 72, 0.8);
	margin-top: 60px;
	border-radius: 3px;
	margin-left: auto;
	border: 2px solid rgba(109, 76, 145, 0.5);
}

.account-form input {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.h3 {
	color: rgba(227, 227, 227, 1);
}

.account-form > .h3 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

.form-control {
	font-family: "Poppins", sans-serif;
    display: block;
    width: 376px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgba(21, 4, 22, 0.7);
    background-clip: padding-box;
    border: 0px solid rgba(21, 4, 22, 0.7);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: rgba(21, 4, 22, 0.7);
    border-color: #495057;
    outline: 0;
}

.enter-btn {
	background: rgba(154, 94, 171, 1);
	border: 1px solid rgba(154, 94, 171, 1);
	width: 256px;
	height: 64px;
	top: 372px;
	left: 84px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.enter-btn:hover {
	background: rgba(190, 116, 210, 1);
	border: 1px solid rgba(185, 135, 206, 1);
}