@import url('http0;1,s://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,30400;1,500;1,600;1,700;1,800;1,900&display=swap')


body {
	width: auto;
	font-family: "Poppins", sans-serif;
}

.wrapper-up {
	background-image: url('https://raw.githubusercontent.com/superstuckattack/freedomwow/f3fb0bfbaadfdb093383327aad6324b33e90971b/assest/img/wrapup.svg');
	background-color: #f0f0f0;
  	height: 783px; 
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.wrapper-down {
	background-image: url('https://raw.githubusercontent.com/superstuckattack/freedomwow/ca08e7a3a47fc61cfd5f5b66a381f9de98fd2f32/assest/img/wrapdown.svg');
	background-color: #f0f0f0;
  	height: 1573px; 
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.navbar {
	background-color: rgba(49, 28, 72, 0.4);
	height: 50px;
	top: 16px;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.logotype {
	width: 249px;
	height: 87px;
}

.nav-link-block {
	padding-left: 150px;
}

.nav-link {
	color: rgba(227, 227, 227, 1);
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
}


.nav-link:hover {
	color: #B987CE;
}