@import url('http0;1,s://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,30400;1,500;1,600;1,700;1,800;1,900&display=swap')


body {
	font-family: "Poppins", sans-serif;
}

.wrapper-up {
	background-image: url('./assest/img/wrapup.svg')
}

.navbar {
	background-color: rgba(49, 28, 72, 0.4);
	height: 50px;
	top: 8px;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.logotype {
	width: 249px;
	height: 87px;
}

.nav-link-block {
	padding-left: 150px;
}
.nav-link {
	color: rgba(227, 227, 227, 1);
	font-size: 13px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
}
